/************ Anchor ***********************************/
.gwt-Anchor {
	padding: 3px 3px 3px 3px;
	color: #c0b8a9;
	text-decoration: none;
	margin: 15px 15px 15px 15px;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
}

.gwt-Anchor:hover {
	color: #d7ebf6;
	background: #42484e;
}

/***********************************************/
.content {
	background: #34393e;
	width: 80%;
	text-align: left;
	margin: 0 auto 0 auto;
}

.total {
	height: 750px;
	float: center;
}

/****** HorizontalPanel ***************************/
.gwt-HorizontalPanel {
	align: center;
}

/**************************************************/
.simpleMargin {
	margin: 10px 10px 10px 10px; /
	float: center;
}

.dashboard_left {
	width: 400px;
	padding: 0px;
	margin: 10px;
	float: left;
}

.dashboard_center {
	width: 400px;
	margin: 10px 0px 10px 0px;
	float: left;
}

.dashboard_right {
	width: 400px;
	padding: 0px;
	margin: 10px;
	float: right;
}

.h1 {
	font-size: 40px;
	font-weight: bold;
	color: #777777;
	margin: 30px 0px 30px;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: #777777;
	margin: 30px 0px 30px;
	text-align: center;
}

.wordOfTheDay {
	text-align: center;
	color: #acc8d7;
	font-size: 1em;
}

.wordOfTheDayRight {
	text-align: right;
	color: #acc8d7;
	font-size: 1em;
}

/************************ AdvancedTable *****************/
.advancedTable {
	border: 3px solid #777777;
}

.advancedTableHeader {
	color: #777777;
	text-align: center;
	font-size: 16em;
	border: 3px solid #777777;
}

.advancedTableRow {
	text-align: center;
	color: #acc8d7;
	font-size: 1em;
	border: 1px solid #777777;
}

.advancedTableRow:hover {
	background: #282c31;
}

.advancedTableCheckedRow {
	text-align: center;
	color: #acc8d7;
	font-size: 1em;
	border: 1px solid #777777;
	background-color: #42484e;
}

/************************************************************/
.highlight {
	text-align: center;
	color: #ff189S4;
	font-size: 1em;
}

.addWord {
	text-align: left;
}

.date {
	margin: 3px 3px 3px 3px;
	font-size: 15px;
	color: #acc8d7;
}

.label {
	color: #777777;
	font-size: 15px;
	margin: 20px 20px 10px 20px;
}

#date {
	margin: 3px 3px 10px 15px;
	font-size: 1.2em;
	font-weight: normal;
	color: #acc8d7;
}

#date a {
	padding: 3px 10px 3px 10px;
	color: #c0b8a9;
	text-decoration: none;
}

#date a:hover {
	color: #d7ebf6;
	background: #42484e;
}

#loginText {
	text-align: center;
}

.gwt-Button {
	margin: 100;
	padding: 3px 5px;
	text-decoration: none;
	font-size: small;
	cursor: pointer;
	cursor: hand;
	background: url("images/hborder.png") repeat-x 0px -27px;
	border: 1px outset #ccc;
}

.name {
	font-size: 50px;
	margin: 90px 20px 20px 20px;
}

.explanation {
	font-size: 20px;
}

.usageExample {
	font-size: 20px;
}

.textArea {
	width: 300px;
	height: 100px;
}

.textBox {
	width: 300px;
}

.label {
	color: #777777;
	font-size: 15px;
	margin: 20px 20px 10px 20px;
}

#footer {
	clear: both;
	border-top: solid thin #c0b8a9;
	text-align: left;
	font-size: 0.9em;
	color: #c0b8a9;
	float: center;
}

#footer a {
	color: #c0b8a9;
	text-decoration: none;
	font-variant: small-caps;
	font-style: normal;
}

#footer a:hover {
	color: #d7ebf6;
}

/************** Tree ******************/
.gwt-Tree {
	margin: 5px;
}

.gwt-Tree .gwt-TreeItem {
	color: #c0b8a9;
	margin: 5px;
	padding: 1px 0px;
}

/***************************************/