<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->

	<!-- FileUpload -->
	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>wordOfTheDay.server.service.FileUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/wordoftheday/fileUploadServlet</url-pattern>
	</servlet-mapping>

	<!-- FileDownload -->
	<servlet>
		<servlet-name>fileDownloadServlet</servlet-name>
		<servlet-class>wordOfTheDay.server.service.FileDownload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileDownloadServlet</servlet-name>
		<url-pattern>/wordoftheday/fileDownloadServlet</url-pattern>
	</servlet-mapping>

	<!-- Notes -->
	<servlet>
		<servlet-name>noteServlet</servlet-name>
		<servlet-class>wordOfTheDay.server.service.NoteServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>noteServlet</servlet-name>
		<url-pattern>/wordoftheday/noteServlet</url-pattern>
	</servlet-mapping>

	<!-- Login -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>wordOfTheDay.server.service.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/wordoftheday/loginServlet</url-pattern>
	</servlet-mapping>

	<!-- Cron -->
	<servlet>
		<servlet-name>cronServlet</servlet-name>
		<servlet-class>wordOfTheDay.server.service.CronService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cronServlet</servlet-name>
		<url-pattern>/wordoftheday/cronServlet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Dashboard.html</welcome-file>
	</welcome-file-list>

</web-app>
